<section id="navbar" class="container grid-960">
    <div class="columns">
        <div class="column">
            <header class="navbar bg-grey">
                <section class="navbar-section">
                    <a href="/site" class="btn btn-link btn-lg"><i class="icon icon-link"></i></a>
                    <a href="/site" class="navbar-brand"><%= title %></a>
                </section>
                <section class="navbar-section">
                    <input id="search-input" name="search" class="form-input input-inline" type="text" placeholder="search" />
                    <figure class="avatar ml-10 mr-10">
                                <img src="<%= req.session.user.gravatarUrl %>" />
                            </figure>
                    <a name="modal" data-target="modal-submit-link-form" class="btn btn-primary">Add Link</a>
                </section>
            </header>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
