<div class="row medium-8 large-7 columns">
    <div class="large-12 columns">
        <h1>LinkPin</h1>
    </div>
</div>
<div class="row medium-8 large-7 columns">
    <div class="large-12 columns">
        <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    </div>
    <form id="submit-form" action="/link/create" method="POST">
        <div class="large-12 columns">
            <label>URL</label>
            <input name='url' type="text" placeholder="url" />
        </div>
        <div class="large-12 columns">
            <label>Title</label>
            <input name="title" type="text" placeholder="Title" />
        </div>
        <div class="large-12 columns">
            <label>Tags</label>
            <input name="tags" type="text" placeholder="Tags" />
        </div>
        <div class="large-12 columns">
            <label>Description</label>
            <textarea name="description" placeholder="Description"></textarea>
        </div>

        <div class="large-12 columns">
            <a id="submit" href="#" class="button">Submit</a>
        </div>
        <input type="hidden" name="owner" value="1">
    </form>
</div>
